.app {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
	width: 100%;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
}

.project-name {
	display: flex;
	padding: 0 var(--screenHorizontalPadding, 12px);
	align-items: center;
	gap: var(--screenHorizontalPadding, 12px);
	align-self: stretch;
	flex-direction: column;
	justify-content: center;
}

.project-name .fields {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	align-self: stretch;
}